@font-face {
    font-family: "Hack-Italic";
    src: url("/fonts/Hack-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Hack-Italic";
    src: url("/fonts/Hack-Italic.ttf") format("truetype");
}

